.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid #e6e6e6;
}

h1 {
    font-size: 30px;
    color: #ffe400;
}
.navbar_links{
    color: #ffe400;
    display: flex;
    align-items: center;
}
a {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: 0 15px;
    color: #ffe400;
}